<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title>未分配任務 - <span ion-text color="primary">{{ShopFilter}}</span></ion-title>

    <ion-buttons end>
        <button ion-button icon-only (click)="clickSearch()">
            <ion-icon name="search"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar id="tool-bar-background">
    <!-- <button ion-item detail-none class="tool left"  (click)="showFilterAlert()">篩選</button> -->
    <button ion-item detail-none class="tool right" (click)="showSortAlert()">排序 - <span ion-text color="primary">{{SortOpt}}</span></button>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-refresher pullMin="70" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉更新"
      refreshingSpinner="circles"
      refreshingText="更新中...">
    </ion-refresher-content>
  </ion-refresher>
  <!--
   <ion-item>
      <ion-label>維修類型:</ion-label>
      <ion-select [(ngModel)]="repairType" interface="action-sheet" cancelText="取消" (ionChange)='onTypeChange()'>
        <ion-option value="all">全部</ion-option>
        <ion-option value="shop">分店維修</ion-option>
        <ion-option value="logistics">後勤維修</ion-option>
        <ion-option value="engineering">工程項目</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>編號:</ion-label>
      <ion-input [(ngModel)]="search" class="formInput" placeholder="請輸入編號" (input)='onSearchChange($event.target.value)'></ion-input>
    </ion-item>
  -->
  <ion-list class="task-list">
    <!-- Task Item -->
    <button ion-item *ngFor="let task of Tasks" (click)="taskTapped($event, task)" detail-none>
        <div class="task" >
            <div class="task-header">
                <ion-icon name="ios-document" class="left"></ion-icon>
                <div class="left-top">
                    編號: {{task.case_num}} 
                    &nbsp;
                    <ion-icon name="ios-radio-button-on" [style.color]="task.color"></ion-icon>
                        <span *ngIf="task.isShop">#{{task.shop_code}} {{task.shop}}</span>
                        <span *ngIf="!task.isShop">{{task.shop}}</span>
                    <br>
                    <span style="margin-left:15px">提交: {{task.input_date}}</span>
                </div>
                <ion-icon name="ios-arrow-forward" class="right"></ion-icon>
            </div>
            <div class="task-content">
                <div class="line-1">
                    <div class="left-inline-first">{{task.project_type_name}} - {{task.project_name}} - {{task.help_name}}</div>
                    <div class="left-inline-middle">&nbsp;</div>
                    <div class="left-inline-last"><button ion-button outline>未指派</button></div>
                </div>
                <div class="line-2">
                    <div class="left-inline-first"><span class="grey">其他資料:</span>{{task.details}}</div>
                </div>
            </div>
        </div>
    </button>
    <!-- Task Item -->

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="載入中...">
      </ion-infinite-scroll-content>
   </ion-infinite-scroll>



    <!-- sample 

    <button ion-item *ngFor="let task of Tasks" (click)="itemTapped($event, task)">
      {{task.TaskNum}}
      <div class="item-note" item-right>
        {{task.TaskName}}
      </div>
    </button>

     -->
  </ion-list>
  
</ion-content>
